<div class="hg-container-view d-flex flex-column overflow-hidden flex-grow-1  ">

    <nav class="hg-nb-view-local navbar navbar-light bg-warning navbar-expand rounded  ms-1 me-1 flex-shrink-0">
        <a class="navbar-brand ms-2" href="#">Local</a>
        <ul class="navbar-nav">
            <li><a [routerLink]="['']">Status</a></li>
            <li><a [routerLink]="['/view1']">View 1</a></li>
            <li><a [routerLink]="['/view2']">View 2</a></li>
            <li><a [routerLink]="['/delivery']">Delivery</a></li>
            <li><a [routerLink]="['/grid']">Grid</a></li>

        </ul>
        <!-- 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">Options</a></li>
            </ul>
            -->
    </nav>

    <div class="hg-view-content d-flex flex-row flex-grow-1 ms-1 pe-1 overflow-hidden">
        <!-- a row of 3 items, each of which is a column -->

        <div class='hg-view-body order-2 d-flex flex-column  ms-0  w-100'>
            <!-- centre item, is a column itself-->

            <div class='hg-view-body-sticky-header row flex-shrink-0 bg-secondary bg-gradient text-white rounded ms-1 me-1'>
                <div class="">
                    Body Sticky Header View 2
                </div>
            </div>

            <div
                class="hg-view-body-top-content d-flex flex-column mh-100 bg-primary bg-gradient rounded ms-1 me-1 ps-2 pe-2 scroll-y flex-grow-1">
      
                <!-- the component body structure is inserted within this div to have sticky header and fiiter -->

                <h6>Main scollable body View 2</h6>

                @if(true) {
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                    Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                    them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                    Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                    leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                    forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                </p>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                    Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                    them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                    Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                    leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                    forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                </p>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                    Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                    them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                    Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                    leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                    forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                </p>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                    Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                    them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                    Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                    leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                    forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                </p>

                }


            </div>

            <div class='hg-view-body-sticky-footer row flex-shrink-0 bg-secondary bg-gradient text-white rounded ms-1 me-1'>
                <div class="">
                    Body Sticky Footer View 2
                </div>
            </div>

        </div>

        <div class="hg-sb hg-sb1 order-1 col-2 mh-100 scroll-y  ps-1">
            <h6 class="mt-1">Sidebar1</h6>
            <ul class="nav flex-column">
                <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
                <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a></li>
                <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a></li>
                <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a></li>
                <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link9</a>
                </li>
            </ul>
        </div>

        <div class="hg-sb hg-sb2 order-3 col-2 mh-100 scroll-y  ps-1">
            <h6 class="mt-1">Sidebar2</h6>
            <ul class="nav flex-column">
                <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
                <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a></li>
                <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a></li>
                <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a></li>
                <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link9</a>
                </li>
            </ul>
        </div>

    </div>

</div>