<div class="hg-container-view d-flex flex-column overflow-hidden flex-grow-1  ">

  <nav class="hg-nb-view-local navbar navbar-light bg-warning navbar-expand rounded  ms-1 me-1 flex-shrink-0">
    <a class="navbar-brand ms-2" href="#">Local</a>
    <ul class="navbar-nav">

      <li><a [routerLink]="['']">Status</a></li>
      <li><a [routerLink]="['/view1']">View 1</a></li>
      <li><a [routerLink]="['/view2']">View 2</a></li>
      <li><a [routerLink]="['/delivery']">Delivery</a></li>
      <li><a [routerLink]="['/grid']">Grid</a></li>

    </ul>
    <!-- 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">Options</a></li>
            </ul>
            -->
  </nav> 

  <div class="hg-view-content d-flex flex-row flex-grow-1 ms-1 pe-1 overflow-hidden">
    <!-- a row of 3 items, each of which is a column -->

    <div class='hg-view-body order-2 d-flex flex-column  ms-0 w-100 '>
      <!-- centre item, is a column itself-->

      <div class='hg-view-body-sticky-header row flex-shrink-0 bg-secondary bg-gradient text-white rounded ms-1 me-1'>
        <div class="">
          Body Sticky Header Status
        </div>
      </div>

      <div
        class="hg-view-body-top-content d-flex flex-column mh-100 rounded ms-1 me-1 ps-2 pe-2 scroll-y flex-grow-1">

     <!-- the component body structure is inserted within this div to have sticky header and fiiter -->

        <div class="m-auto mt-5">

          <table mat-table class="w-50 " matSort aria-label="Elements">
            <!-- Id Column -->
             <!-- see scss for styling -->
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Id</th>
              <td mat-cell *matCellDef="let row" >{{row.id}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>County Name</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [length]="gridSource.data.length" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
          </mat-paginator>
        </div>



      </div>

      <div class='hg-view-body-sticky-footer row flex-shrink-0 bg-secondary bg-gradient text-white rounded ms-1 me-1'>
        <div class="">
          Body Sticky Footer Status
        </div>
      </div>

    </div>

@if(false) {
    <div class="hg-sb hg-sb1 order-1 col-2 mh-100 scroll-y  ps-1">
      <h6 class="mt-1">Sidebar1</h6>
      <ul class="nav flex-column">

        <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
        <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a></li>
        <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a></li>
        <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a></li>
        <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>

      </ul>
    </div>
  }

   
    <div class="hg-sb hg-sb2 order-3 col-2 mh-100 scroll-y  ps-1">
      <h6 class="mt-1">Sidebar2</h6>
      <ul class="nav flex-column">

        <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
        <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a></li>
        <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a></li>
        <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a></li>
        <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>

      </ul>
    </div>
   

  </div>

</div>